.hero {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  height: 40rem;
  width: 30rem;
  background-size: cover;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;

  &--header {
    position: absolute;
    bottom: 0;
    background-color: var(--color-primary-darken);
    padding: 1rem;
    width: 100%;
  }

  &--name {
    color: var(--color-white);
    font-size: 2.5rem;
    font-family: var(--font-title);
    text-align: center;
    margin: 0;
  }

  &--container {
    position: relative;
  }

  &--stats {
    position: absolute;
  }
}
